@using ExordiumGames.MVC.Data;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExordiumGames.MVC.styles.css" asp-append-version="true" />
    <script src="/js/site.js"></script>
    <title>CreateCategory</title>
</head>
<body>
    <form id="category-form">
        <div>
            <label for="Name">Category Name:</label><br />
            <input type="text" id="Name" name="Name" placeholder="Enter category name.." class="form-control" />
        </div>
        <div>
            <label for="Priority">Priority:</label><br />
            <input type="number" min="0" max="5" id="Priority" name="Priority" class="form-control" />
        </div>
        <br/> <br />
        <div class="items-container" >
            @for(int i=0; i<5; i++)
            {
                <div class="item">
                    <div>
                        <label for="ItemName">Item Name:</label><br />
                        <input type="text" id="ItemName" name="ItemName" placeholder="Enter item name.." class="form-control" />
                    </div>
                    <div>
                        <label for="ItemDescription">Item Description:</label><br />
                        <textarea id="ItemDescription" name="ItemDescription" placeholder="Enter description" cols="10" rows="5" class="form-control"></textarea>
                    </div>
                    <div>
                        <label for="ItemDiscountDate">Item Discount Date:</label><br />
                        <input type="date" id="ItemDiscountDate" name="ItemDiscountDate" class="form-control" />
                    </div>
                    <div>
                        <label for="ItemImageUrl">Image:</label><br />
                        <input type="image" id="ItemImageUrl" name="ItemImageUrl" value="Browse" class="form-control" />
                    </div>
                    <div>
                        <label for="ItemPrice">Item Price:</label><br />
                        <input type="number" id="ItemPrice" name="ItemPrice" placeholder="Enter price.." class="form-control" />
                    </div>
                    <div>
                        <label for="RetailerId">Retailer:</label><br />
                        <select id="RetailerId" name="ItemRetailerId" class="form-control">
                            <option name="RetailerId" value="1">Konzum</option>
                            <option name="RetailerId" value="2">Mercator</option>
                            <option name="RetailerId" value="3">Vitinka</option>
                        </select>
                    </div>
                    <div>
                        <label for="CategoryId">Category:</label><br />
                        <select id="CategoryId" name="ItemCategoryId" class="form-control">
                            <option name="CategoryId" value="1">Food</option>
                            <option name="CategoryId" value="2">Beverage</option>
                            <option name="CategoryId" value="3">Clothes</option>
                        </select>
                    </div>
                </div>
            }
        </div>
        <button id="category-add-button" type="submit" class="form-control">Submit</button>
    </form>
</body>
</html>
