.items-container {
    width: 90%;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
}

.item{
    position:relative;
    width: 25%;
    margin: 1rem;
}

.item-checkbox{
    position:absolute;
    right:0;
    top:0;
    width:1.5rem;
    height:1.5rem;
}

.image {
    width:250px;
    height: 400px
}